.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  font-family: sans-serif;
}

header {
  border-radius: 15px;
  background-color: #f0f0f0;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.input-area {
  display: flex;
  width: 100%;
  margin: 20px;
}

.input-area input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.input-area button {
  border-radius: 15px;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: border-color 0.25s;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.todo-item label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.todo-item span {
  margin-left: 10px;
}

.buttons button {
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-left: 5px;
}

.buttons button:first-child {
  border-radius: 15px;
  background-color: #008cba;
}
